// Colors
$headingTextColor: #30333c;
$hamburgerColor: #23231E;
$mainTextColor: #70737C;
$simpleButtonColor: #A7C0E8;
$contactHeadingColor: #6F88B1;
$linkButtonInactive: #D9DBE2;
$linkButtonActive: #30333C;
$overlyColor: rgb(48, 51, 60);
$tableRowHighlight: #F7FAFF;
$white: #FFFFFF;

// Font sizes

$font_sm: 0.875rem; // 14px
$font_med: 1.125rem; // 18px
